<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Social Collage</title>
		<link rel="stylesheet" type="text/css" href="/static/css/116675.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/960.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/user.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/search.css" />

		<script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
	</head>
	<body>
		<div id="header" class="container_12">
			<div id="logo" class="grid_3 ">
			  <a href="/">
				<img src="/static/images/logo2.png" width='200px' style='margin-top: 10px;' />
			  </a>
			</div>
			<div id="linkbar" class="grid_7 ">
			  <p align='center'>
			    <input id="search" type="text" name="search" value="What describes you?" />
			    <br />
			  </p>
			</div>

			<div id="loginbar" class="grid_2 ">
			</div>
		</div>

		

		<div id="content" class="container_12">
		  <ul id="image-results"></ul>
		
		  {% block body %}{% end %}
		</div>

		<div id="footer" class="container_12">
		</div>

<script type="text/javascript">

var selectedUrl = null;
var searchTerms = null;

/* Pulls images from /search and inserts it into the image-results div */
function getImages(terms) {
  $("#results").hide('fast');
  $("#image-results").empty();
  //$("#image-results").append($("<img>").attr("src", "/static/images/ajax-loader.gif"));

  $.getJSON("/search", { query: terms },
	    function(images, status) {
	      $("#image-results").empty();
	      for (i in images) {
		var im = $("<li class='thumb'>").append($("<img>").attr("src", images[i]));
		//		$("#image-results").append(im.append($('<a>').attr("href", images[i]).append($('<label>').addClass("hidden"))));
		$("#image-results").append(im.append($('<label>').addClass("hidden")));
	      }
              $("#image-results").append('<div class="floatclear"> </div>');
	      $("#results").show('fast');
	    });
};

function sendTweet(imageUrl) {
  var url = "/tweet?image=" + escape(imageUrl) + "&query=" + escape($("#search").val());
  window.location = url;
};


$(function() {
    var search = $('#search');
    var original_val = search.val();

    search.focus(function() {
	if ($(this).val() === original_val) {
	  $(this).val('');
	}
      });

    search.blur(function() {
	if ($(this).val() === '') {
	  $(this).val(original_val);
	}
      });

    search.keypress(function (e) {
	if (e.which == 13) {
	  getImages($(this).val());
	  return false;
	}
      });

    $("li.thumb label").live('click', function() {
	// pick off first image and set the selected url to it
	var img = $(this).find("img").first();
	sendTweet(img.attr('src'));
      });
  });
</script>

		{% block js %}{% end %}
	</body>
</html>
