
{% extends "base.html" %}

{% block body %}
			<div id="collageinfo" class="grid_6 ">
				<div id="usercollage">
				  {% for image_url, query in images %}
				  <img src="{{ image_url }}" width="200" height="133" />
				  {% end %}
<!--
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
					<img src="http://bit.ly/aOJ8z2"></img>
-->

				</div>
				<div id="collagecomments">
					<input type="text"></input>
					<div class="comment">
						<div class="commenterimg">
							<img src="http://bit.ly/aOJ8z2"></img>
						</div>
						<p>This guy is so bad at eating porcupines!</p>
					</div>
					<div class="comment">
						<div class="commenterimg">
							<img src="http://bit.ly/aOJ8z2"></img>
						</div>
						<p>Shut up! He's Great!</p>
					</div>
					<div class="comment">
						<div class="commenterimg">
							<img src="http://bit.ly/aOJ8z2"></img>
						</div>
						<p>Dude... genetic modification for profit?</p>
					</div>
					<div class="comment">
						<div class="commenterimg">
							<img src="http://bit.ly/aOJ8z2"></img>
						</div>
						<p>I, too, enjoy porcupines.</p>
					</div>
				</div>
			</div>
			<div id="socialmeta" class="grid_6 ">
				<div id="userinfo">
					<div id="userimage">
						<img src="{{ user['profile_image_url'] }}"></img>
					</div>
					<div id="basicinfo">
						<h2><a href="http://twitter.com/{{ user['screen_name'] }}">@{{ user['screen_name'] }}</a></h2>
						<p><b>{{ user['name'] }}</b> {{ user['description'] }}</p>
					</div>
				</div>
			</div>
{% end %}
