#results {
    display: none;
}

#search {
	width: 300px;
	font-size: 17px;
	border: 5px solid #E08E79;
	font-family: arial;
	padding: 3px;
	margin: 0px;
	background-color: #F2E9E1;
	color: #E08E79;
	font-weight: bold;
}



ul#image-results li img.hover {
	border: none; /* Get rid of border on hover */
}
