@CHARSET "UTF-8";

body {
	font-family: arial;
	background-color: #404040;
}

#header {
	height: 156px;
	background: #f2e9e1;
	border-top: 10px solid #404040;
}

	#logo {
		background: #f2e9e1;
		height: 156px;
	}
	
	#linkbar {
		background: #f2e9e1;
		height: 156px;
	}
	
	#loginbar {
		background: #f2e9e1;
		height: 156px;
	}
	
#content {
	background: white;
	min-height: 600px;
}

	#results ul {
		background: #EEE;
		margin-left: 4px;
	}

	#results .thumb.select {
		border: 1px solid #000;
		background: #FFF;
		opacity: 0.5;
	}

	#content ul {
		padding: 15px 0px;
		margin-left: 4px;
	}

	.thumb {
		width: 117px;
		height: 117px;
		border: 1px solid #b2a9a1;
		float: left;
		position: relative;
	}

		.thumb a {
			width: 117px;
			height: 117px;
			text-decoration: none;
		}

		.thumb img {
			position: absolute;
			z-index: 2;
			width: 117px;
			height: 117px;
			cursor: pointer;
		}

	.thumb label {
		height: 117px;
		width: 117px;
		opacity: 0.9;
		z-index: 100;
		position: absolute;
		background: #000;
		cursor: pointer;
		display: none;
	}

		.thumb label h2 {
			font: 12px Arial, sans-serif;
		}

		.thumb label h2, .thumb label p {
			margin-top: 22px;
			clear: none;
			z-index: 100;
			text-align: center;
		}

		.thumb label p {
			color: #FFF;
		}


	#collageinfo {
		margin: 10px 0px;
	}
	
		#usercollage {
			border: 1px solid #eee;
			margin-left: 10px;
			width: 440px;
			height: 292px;
		}
		
			#usercollage img {
				float: left;
				max-width: 140px;
				max-height: 140px;
				margin: 2px;
			}
			
		#collagecomments {
			margin-left: 70px;
			width: 300px;
			
		}
			
			#collagecomments input[type="text"]{
				margin-top: 20px;
				border: 1px solid #CCC;
				width: 300px;
			}
		
			#collagecomments .comment {
				width: 300px;
				border: 1px solid #DEDEDE;
				-webkit-border-radius: 5px;
				-moz-webkit-border-radius: 5px;
				height: 60px;
			}
			
				#collagecomments .commenterimg {
					width: 60px;
					height: 60px;
					float: left;
				}
					#collagecomments .commenterimg img {
						max-width: 60px;
						max-height: 60px;
					}
				
				#collagecomments p {
					width: 220px;
					float: right;
				}

	.floatclear {
		clear: both;
		height: 1px;
	}
	
	#socialmeta {
		margin: 10px 0px;
	}
	
		#userimage {
			width: 48px;
			float: left;
		}
		
		#userimage img {
			width: 48px;
		}
	
		#basicinfo {
			width: 300px;
			float: right;
		}
	
#footer {
	height: 175px;
	background: #CBE86B;
	border-top: 0px solid white;
		border-bottom: 10px solid #404040;

}

	#meta {
		height: 150px;
		background: #CBE86B;
		color: black;
		font-weight: bold;
		font-size: 15px;
		margin-top: 10px;
	}
	
p {
	margin-top: 10px;
	font: 12px Arial, sans-serif;
}

h2 {
	color: blue;
	font-weight: bold;
}
